<div [hidden]="!message" class="alert alert-success">{{message}}</div>

<button type="button" (click)="createCar()" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i> <span class="d-none d-md-inline"> Dodaj</span></button>

<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Marka</th>
      <th scope="col">Model</th>
      <th scope="col">Godina proizvodnje</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars; let i = index">
      <td>{{car.id}}</td>
      <td>{{car.marka}}</td>
      <td>{{car.model}}</td>
      <td>{{car.godina_proizvodnje}}</td>
      <td>
        <button type="button" class="btn btn-info" (click)="editCar(car.id)"><i class="fa fa-edit fa-fw"></i> <span class="d-none d-md-inline"> Uredi</span></button>
      </td>
      <td>
        <button type="button" class="btn btn-primary"  (click)="carDetails(car.id)"><i class="fa fa-list-alt fa-fw"></i> <span class="d-none d-md-inline"> Detaljno</span></button>
      </td>
      <td>
          <button type="button" class="btn btn-danger" (click)="selectForDelete(car)"><i class="fa fa-trash fa-fw"></i> <span class="d-none d-md-inline"> Izbriši</span></button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Delete Confirm Modal -->
<app-car-delete-dialog [(visible)]="showDialog">
	<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Potvrdi brisanje</h5>
  </div>
  <div class="modal-body">
    Jeste li sigurni da želite izbrisati '{{selectedForDelete.id}}'?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="showDialog=false">Odustani</button>
    <button type="button" class="btn btn-danger" (click)="deleteCar(selectedForDelete.id)">Izbriši</button>
  </div>
</app-car-delete-dialog>