<div class="container">
    <h1>{{action}} opremu</h1>
    <form (ngSubmit)="onSubmit()" #dodatnaOpremaEditForm="ngForm">
      <div *ngIf="action == 'Edit'"  class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" [(ngModel)]="dodatnaOprema.id" #id="ngModel" id="id" name="id" disabled>
      </div>
  
      <div class="form-group">
        <label for="name">Naziv</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="dodatnaOprema.name" #name="ngModel" name="name">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Naziv je obavezan.</div>
      </div>
  
      <button type="submit" class="btn btn-success" [disabled]="!dodatnaOpremaEditForm.form.valid">{{action}}</button>
      <button type="button" class="btn btn-danger" (click)="goBack()">Natrag</button>
  
    </form>
  </div>